@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'ProximaNova, sans-serif';
  src: url('./assets/fonts/ProximaNova-Regular.otf');
}

@theme {
  --color-warm-sunrise: #FFF4E0; /* Milk */
  --color-sunrise-light: #FFF0D0; /* BG 3rd Section */
  --color-sand-gold: #F0D8A0; /* Strok 3rd */
  --color-deep-navy: #0D1F2D; /* Dark Brown */
  --color-golden-mango: #F2A020; /* Middle Brown */ 
  --color-mango-burst: #F07828; /* Light Brown */
  --color-content-gold: #C47020; /* Content 4th */
  --color-amber-border: #D4A060; /* Border 4th */
  --color-near-black: #141414; /* Strok Dark (black) */
  --color-main-bg: #232224;
  /* --color-white: #ffffff; */
  --color-dark-ember: #8B3800; /* Red Brown */
  --color-hot-orange-red: #E04808; /* Red */
  --color-flame-gold: #E88010; /* Yellow Brown */
  --color-pale-cream: #F8E8C0; /* Milk Yellow */
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}
html, 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF4E0;
  color: #0D1F2D;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .general-title {
    @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-0.35vw];
  }
}

@layer components {
  .paragraph-line {
    @apply text-nowrap overflow-hidden;
  }

  .hero-container {
    @apply relative bg-warm-sunrise w-screen h-dvh overflow-hidden;

    .hero-content {
      @apply absolute w-full top-1/2 left-1/2 -translate-x-1/2 translate-y-0 z-10 flex flex-col items-center;

      .hero-title {
        @apply text-deep-navy 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold uppercase leading-[9vw] tracking-[-0.35vw];
      }

      .hero-text-scroll {
        @apply -rotate-3 mb-8 border-[0.5vw] border-warm-sunrise;

        .hero-subtitle {
          @apply bg-golden-mango;
        }

        h1 {
          @apply uppercase 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] text-[#fce1cd] leading-[9vw] tracking-[-0.35vw] 2xl:px-[1.2vw] px-3 2xl:pb-[1vw] pb-5 2xl:py-0;
        }
      }

      h2 {
        @apply font-paragraph text-deep-navy text-center md:max-w-lg max-w-sm px-5 text-sm leading-[115%];
      }

      .hero-button {
        @apply md:mt-11 mt-10 text-deep-navy bg-mango-burst uppercase font-bold text-sm rounded-full md:p-3.5 p-3 md:px-12 px-10 cursor-pointer;
      }
    }
  }
}