@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap');
@import 'tailwindcss';


@font-face {
  font-family: 'ProximaNova, sans-serif';
  src: url('./assets/fonts/ProximaNova-Regular.otf');
}

@theme {
  --color-warm-sunrise: #FFF4E0; /* Milk */
  --color-sunrise-light: #FFF0D0; /* BG 3rd Section */
  --color-sand-gold: #F0D8A0; /* Strok 3rd */
  --color-deep-navy: #0D1F2D; /* Dark Brown */
  --color-golden-mango: #F2A020; /* Middle Brown */ 
  --color-mango-burst: #F07828; /* Light Brown */
  --color-content-gold: #C47020; /* Content 4th */
  --color-amber-border: #D4A060; /* Border 4th */
  --color-near-black: #141414; /* Strok Dark (black) */
  --color-main-bg: #232224;
  /* --color-white: #ffffff; */
  --color-dark-ember: #8B3800; /* Red Brown */
  --color-hot-orange-red: #E04808; /* Red */
  --color-flame-gold: #E88010; /* Yellow Brown */
  --color-pale-cream: #F8E8C0; /* Milk Yellow */
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}
html, 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF4E0;
  color: #0D1F2D;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@import './styles/sections.style.css';
@import './styles/utilities.style.css';

.spin-circle {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}